html{
    height: 100%;
    width: 100%;
}
body{
	border-collapse: 0;
	padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
*{
    margin: 0px;
    text-decoration: none;
	list-style: none;
    color: rgb(22, 22, 22);
    font-dfamily: 'Pretendard-Light';
    font-weight: 400;

    /* blocking drag */
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* default font setting */
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('./woff2/Pretendard-Black.woff2') format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('./woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('./woff2/Pretendard-Bold.woff2') format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('./woff2/Pretendard-SemiBold.woff2') format('woff2'), url('./woff/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('./woff2/Pretendard-Medium.woff2') format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('./woff2/Pretendard-Regular.woff2') format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('./woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('./woff/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('./woff2/Pretendard-Thin.woff2') format('woff2'), url('./woff/Pretendard-Thin.woff') format('woff');
}
h1{
    font-size: 1.6em;
} 
h2{
    font-family: 'Cafe24Shiningstar';
    font-size: 2.3em;
    margin: 0.5em 0em 0.4em 0em;
    text-align: center;
}
h3{
    margin-top: 0.3em;
    font-size: 1rem;
    line-height: 1.3em;
}
/* general text */
h4{
    font-size: 1.1em;
    line-height: 1.4em;
}


#main{
    align-self:center;
    display: flex;
    width:auto;
    height:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vh 20vw 0vh 20vw;
}


#main #profile{
    text-align: center;
    width: auto;
    height: auto;
    margin-top:1em;
}

#main #container{
    margin: 1.5em 0em 2.5em 0em;
    width:auto;
    height:1fr;
} 

.menubar{
    margin-top: 0.7em;
    width: 80%;
    height: auto;
    display:flex;
    justify-content: space-evenly;
}

#main footer{
    width:auto;
    height:auto;
    margin-bottom: 1em;
    text-align: center;
}
#main footer h4{
    font-size: 0.7em;
}
#main footer h4:last-child{
    color: rgb(101, 101, 101);
}


#main footer .contact{
    display:flex;
    justify-content: center;
    width:100%;
    height: auto;
    margin-bottom: 0.3em;
}

.contact .kakao-plus{
    width: 7em;
    height: auto;
    transition:all 0.7s;
    margin-right: 0.4em;
}

.contact .kakao-plus:hover{
    opacity: 0.3;
}

.contact .email{
    width: 13.09em;
    height: auto;
}

.contact .email:hover{
    opacity: 0.3;
}

.contact span img{
    object-fit: cover;
    width: inherit;
}

.logo:first-child img{
    width:15%;
    height:auto;
    transition:all 0.7s;
}

.logo-img img:hover{
    opacity: 0.3;
    width: 17%;
}

.logo:last-child img{
    width:25%;
    height: auto;
    transition:all 0.7s;
}
