<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST} ^(starlightpickup\.kr/terms_of_service/index\.html|www\.starlightpickup\.kr/terms_of_service/index\.html)
RewriteRule (.*) /terms_of_service/$1 [L]

RewriteCond %{HTTP_HOST} ^(starlightpickup\.kr/privacy_policy/index\.html|www\.starlightpickup\.kr/privacy_policy/index\.html)
RewriteRule (.*) /privacy_policy/$1 [L]

RewriteCond %{HTTP_HOST} ^(starlightpickup\.kr/guide\.html|www\.starlightpickup\.kr/guide\.html)
RewriteRule (.*) /guide/$1 [L]
</IfModule>