%font-imports{
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        src: url('../font/GmarketSansTTF/GmarketSansTTFMedium.ttf') format('truetype');
        font-weight: bolder;
        font-style: normal;
    }
      
    @font-face {
        font-family: 'GmarketSansLight';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
        src: url('../font/GmarketSansTTF/GmarketSansTTFLight.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
      
    @font-face {
        font-family: 'GmarketSansBold';
        font-weight: bold;
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
        src: url('../font/GmarketSansTTF/GmarketSansTTFBold.ttf') format('truetype');
        font-style: normal;
    }
}