/* init */
p, a, img, ul, li{
  transition: all linear 0.2s;
}

html, body, ul, li, p, a{
    margin:0;
    padding:0;
    border: 0;
    vertical-align: middle;
    list-style-type: none;
    text-decoration: none;
    color: #1a1a1a;
}
body{
    width:100%;
    height:100%;
    background-color: #E6EEF4;
    font-size: 2.5vw;
}

h1, h2{
    display: inline;
    color: #393939;
    font-family: 'GmarketSansBold';
    font-size: min(3vw, 43px);
    letter-spacing: -0.13vw;
}
h2{
    color:#1E49B3
}
p{
  font-size: min(1.75vw, 25px);
  line-height: min(2.8vw, 39px);
  color: #393939;
  font-family: 'GmarketSansLight';
  letter-spacing: -0.04vw;
}
.non_bold_title{
  color: #393939;
  font-family: 'GmarketSansMedium';
  font-size: min(3vw, 43px);
  letter-spacing: -0.13vw;
  line-height: min(3.6vw, 48px);
}
.bold_text{
  font-family: 'GmarketSansMedium';
}
.blue_text{
  font-family: 'GmarketSansMedium';
  color:#1E49B3;
}
.unbold_title{
  font-family: 'GmarketSansMedium';
  font-weight: normal;
}

#main{
    display : flex;
    justify-content: center;
}

#header{
    @extend %fadein;
    
    background-color: rgba(255, 255, 255, 0.856);

    position: sticky;
    top: 0;

    width: 100%;
    height: max-content;
    overflow: hidden;

    display:flex;
    align-items: center;
    justify-content:center;

    transition: all 0.2s 0s linear;
    z-index: 1;
}

#container{
    @extend %fadein;
    transition: all 1s 0s linear;

    width: 75%;
    height: max-content; 

    max-width: 1050px;
    
    background: #FFFFFF;
    box-shadow: 0 2px 40px 3px rgba(0,0,0,0.09);
}

.menubar{
  width: 96%;
  height: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button{
  color: #5c5e62;
  :only-child{ color: #5c5e62; }
  font-size: min(1.5vw, 21px);
  font-family: 'GmarketSansLight';
  cursor: pointer;

  :hover {
    font-size: min(1.67vw, 22.5px);
  }
}
.logo{
  a{
    display: flex;
    align-items: center;
  }
  img{
    width: auto;
    height: min(6.5vw, 93px);
    cursor: pointer;
  }
  :hover img{
    opacity: 75%;
  }
}

@media screen and (max-width: 750px) {
  #container{
    width: 100%;
  }
  #header .button{
    font-size: max(2.1vw, 12px);
  }
  #header .logo{
    img{
      width: max(9vw, 50px);
      height: auto;
    }
  }
  h1, h2{
    font-size: max(4vw, 16px);
    line-height: max(5vw, 22px);
  }
  p{
    font-size: max(2.1vw, 11.4px);
    line-height: max(3.2vw, 17px);
  }
  .non_bold_title{
      font-size: max(4vw, 16px);
      line-height: max(5vw, 22px);
  }
}
