@import '_animations.scss';
@import '_font_imports.scss';
@import '_main_frame_init.scss';
@import '_footer_init.scss';
@import '_pop_up_init.scss';


#header{ // 가이드탭 색상 변경
    #guide_button{
        font-size: min(1.6vw, 21.5px);
        font-family: 'GmarketSansMedium';
        a{ color: #4b4d51; }
    }

}
.line{
    margin: 5.5% 0%;
}

.popup_link{
    margin-top: 1%;
    font-size: min(1.8vw, 26px);
    font-family: 'GmarketSansMedium';
    color: #85BCD7;
    text-decoration: underline;
}

.guide_wrap{
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide_head{
    text-align: center;
    margin-top: 4.5%;
}

.guide_content_wrap{
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide_content{
    width: 86%;
    height: max-content;
}

.content_detail{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 3%;

    .content_detail_img{
        width: 41%;
        height: 41%;
    }
    .content_detail_text{
        width: 54%;
        height: auto;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

}

.step1_bottom_text{
    width: 100%;
    padding-top: 3.2%;
}

.bottom_text{
    width: 100%;
    .small_text{
        margin-top: 0.5%;
        font-size: min(1.6vw, 22px);
        line-height: min(2.3vw, 32px);
    }
}

.app_download{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    padding-top: 3%;
    li{
        width: 47%;
        height: 47%;
        img{
            max-width: 100%;
            width: 100%;
            height: auto !important;
            filter: drop-shadow(4px 3px 4px rgba(172, 186, 192, 0.26));
        }
    }
}

.text_round_box{
    width: max-content;
    height: max-content;
    margin-top: 3.2%;
    background-color: #E6EEF4;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 4.5% 7.5%;
}

#step3{
    .text_round_box{
        width: 100%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        padding: 4% 6%;
    }
    .content_additional{
        width: 100%;
        height: max-content;
        margin-top: 1%;

        .additional_title 
        {
            margin-bottom: 3.3%;
            p{
                font-size: min(2.6vw, 35px);
            }
        }

        .additional_content{
            width: 100%;
            height: max-content;
            .households{
                margin-top: 2%;
                .bold_text{
                    font-size: min(1.8vw, 24px);
                    line-height: min(2.7vw, 38px);
                    display: block;
                    margin-bottom: 1%;
                    margin-left: 1%;
                }
                img{
                    max-width: 100%;
                    width: 100%;
                    height: auto !important; 
                }
            }
        }
    }
}

#step4{
    .content_detail_text{
        padding-top: 2%;
    }
    .bottom_text{
        margin-top: 4%;
        text-align: right;
    }
}
#step5{
    .popup_link{
        margin-top: 0;
        margin-right: 0.5%;
        float: right;
    }
}


@media screen and (max-width: 750px) {
    p{
      font-size: max(2.1vw, 11.4px);
      line-height: max(3.2vw, 17px);
    }
    .non_bold_title{
        font-size: max(4vw, 16px);
        line-height: max(5vw, 22px);
    }
    .bottom_text{
        .small_text{
            font-size: max(2vw, 10.1px);
            line-height: max(2.9vw, 15.1px);
        }
    }

    #step3{
        .content_additional{
            .additional_title{
                font-size: min(2.3vw, 12px);
            }
            .additional_content{
                .households{
                    .bold_text{
                        font-size: max(1.8vw, 11.5px);
                        line-height: max(2.1vw, 14px);
                    }
                }
            }
        }
    }

    .popup_link{
        margin-top: 1%;
        font-size: max(2.2vw, 11.7px);
    }
    .content_detail{
        flex: 2;
        .content_detail_img{
            width: 40%;
            height: 40%;
        }
        .content_detail_text{
            width: 54%;
            margin-right: 0;
        }
    }
    #header #guide_button{
        font-size: max(2.2vw, 12.5px);
    }
}