@import '_animations.scss';
@import '_font_imports.scss';
@import '_main_frame_init.scss';
@import '_footer_init.scss';
@import '_pop_up_init.scss';

#header{ // 공지사항탭 색상 변경
    #notice_button{
        font-size: min(1.6vw, 21.5px);
        font-family: 'GmarketSansMedium';
        a{ color: #4b4d51; }
    }
}

.line{
    margin: 6% 0%;
}
.little_enter{
    padding: 0.4%;
    display: block;
}
.non_bold_title{
    color: #393939;
    font-family: 'GmarketSansMedium';
    font-size: min(2.6vw, 32px);
    letter-spacing: -0.13vw;
    line-height: normal;
    // line-height: min(2.6vw, 40px);
}

.post_wrap{
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    // hr{align-self: center;}
}

.post_head{
    width: 100%;
    height: auto;

    margin-top: 4.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    // align-self: center;
    .type_icon{
        font-size: min(3.6vw, 40px);
        line-height: normal;
        margin-bottom: 0.5%;
    }
}

.post_content{
    width:82%;
    height: auto;
    img{
        width: 100%;
        height: auto;

        margin-bottom: 2%;
    }
}

.helper_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.round_box{
    width: max-content;
    height: max-content;

    // margin-top: 1%;

    background-color: #E6EEF4;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1.5% 12%;

    text-align: center;
    .helper_head{
        p{ 
            font-family: 'GmarketSansMedium'; 
            font-size: min(1.9vw, 27px);
        }
    }
    .helper_content{
        p{
            margin-top: 0.8%;
            line-height: min(2.6vw, 35px);
        }
    }
}

.helper_link{
    p{
        margin-top: 1.5%;
        // font-size: min(1.vw, 25px);
        font-family: 'GmarketSansMedium';
        color: #85BCD7;
        text-decoration: underline;

        cursor: pointer;
    }
}

@media screen and (max-width: 750px) {
    .non_bold_title{
        font-size: max(3.2vw, 16.5px);
        // line-height: max(5vw, 22px);
    }
    #header #notice_button{
        font-size: max(2.2vw, 12.5px);
    }
    .post_head{
        .type_icon{
            font-size: max(4vw, 21px);
        }
    }
    .round_box{
        .helper_head{
            p{ 
                font-size: max(2.3vw, 13px);
            }
        }
        .helper_content{
            p{
                line-height: max(2.8vw, 15.5px);
            }
        }
    }
}
  